body {
    font-family: sans-serif;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;

    /*to see the box*/
    background-color: navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }



.tile {
    width: 147px;
    height: 147px;
      /*text*/
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
} 