body{
    font-family: sans-serif;
    text-align: center;
}

.container{
    background:  rgb(73, 68, 68) ;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

#button{
    margin: 10px;
    background: wheat;
    font-family: sans-serif;
    border-radius: 12px;  
}

#button:hover {
    background: rgb(148, 129, 95);
}

.board{
    background: rgb(179, 174, 174);
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    padding: 10px;
}

.cell {
  background-color: rgb(73, 68, 68);
  font-family: sans-serif;
  padding: 20px 0;
  font-size: 150px;
}

.cell:hover {
    background-color: rgb(201, 194, 194); 
}

